@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Bienvenido a al Sistema de Gestión DS.</h1>

    
    <div class="image-container">
        <img src="~/images/logods.png" alt="Descripción de la imagen" id="image-logo" class="img-sm">
    </div>
</div>