@using FrontendApi.Models

@model Profesor

<div class="container">
    <h3 class="text-center">Cursos asignados</h3>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var curso in Model.Cursos)
            {
                <tr>
                    <th scope="row">@curso.IdCurso</th>
                    <td>@curso.Descripcion</td>
                    <td>@curso.Fecha.ToString("dd/MM/yyyy")</td>
                </tr>
            }

        </tbody>
    </table>
</div>
